{% extends "base.html" %}
{% block title %}Game details{% endblock %}

{% block content%}
<br>
<h2><a href="{% url 'main' %}">BACK</a></h2>
<h2>Game:</h2>
    <p><strong>Name:</strong></p>
    <p>{{ game.name }}</p>
    <p><strong>Developer:</strong></p>
    <ul>
        {% for developer in developers %}
            <li>{{ developer }}</li>
        {% endfor %}
    </ul>
    <p><strong>Publisher: </strong></p>
    <p>{{ publisher }}</p>
    <p><strong>Players online:</strong></p>
    <p>{{ players }}</p>
{% endblock %}